<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
        var coordinates = {{ coordinates|tojson }};
    </script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/find_face.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/find_face.js') }}"></script>
    <title>Face coordinates</title>

</head>
<body>
    <canvas id='face_square'>Обновите браузер</canvas>
    <img src="{{ img }}" />
    <div class="coordinates">
        {{ coordinates }}
    </div>
</body>
</html>